/* Main */
*{
    font-family: arial;
}

h1{
    text-align: center;
}

body{
    background-color: #D8D8D8;
}

p{
    text-align: center;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
    font-size: 17px;
}
#gamemode{
    text-align: center;
    font-size: 20px;
    background-color: white;
    margin-left: 40%;
    margin-top: 5%;
    width: 300px;
    height: 240px;
    box-shadow: 10px 10px 5px #888888;
}
.gamemodes{
    font-size: 20px;
}
#logo{
    height: auto;
    width: auto;
    max-width: 35%;
    max-height: 125px;
}

.buttonlocation{
    text-align: center;
}

/* The Game */
#lingo{
      margin: 0 auto;
}

.main{
    font-size: 50px;
    width: 140px;
    height: 80px;
    text-align: center;
    text-transform: capitalize; 
    font-weight: bold;
    background-color: green;

}

/* Rijen style */
.rij1{
    font-size: 50px;
    width: 140px;
    height: 80px;
    text-align: center;
    text-transform: capitalize; 
    font-weight: bold;
}

.rij2{
    font-size: 50px;
    width: 140px;
    height: 80px;
    text-align: center;
    text-transform: capitalize; 
    font-weight: bold;  
}

.rij3{
    font-size: 50px;
    width: 140px;
    height: 80px;
    text-align: center;
    text-transform: capitalize; 
    font-weight: bold;
}

.rij4{
    font-size: 50px;
    width: 140px;
    height: 80px;
    text-align: center;
    text-transform: capitalize; 
    font-weight: bold;  
}

.rij5{
    font-size: 50px;
    width: 140px;
    height: 80px;
    text-align: center;
    text-transform: capitalize; 
    font-weight: bold;  
}